programas/flow_Mauro.json
[
    {
        "id": "fc9db967ed2c01f7",
        "type": "tab",
        "label": "Flow 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2a5abad0d26635c5",
        "type": "ui_button",
        "z": "fc9db967ed2c01f7",
        "name": "",
        "group": "0fe5472bda0f3961",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Botón xeral",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "e33090bf32101698",
                "21e4730843aa08ce",
                "c58c7b701d3f4c8d"
            ]
        ]
    },
    {
        "id": "5087a084930d2537",
        "type": "ui_gauge",
        "z": "fc9db967ed2c01f7",
        "name": "",
        "group": "73b5ea4bc4c9a547",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 380,
        "wires": []
    },
    {
        "id": "62e5c27ac0f82df3",
        "type": "mqtt in",
        "z": "fc9db967ed2c01f7",
        "name": "",
        "topic": "maqueta4/sensores/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dedd30ecd657dea0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 380,
        "wires": [
            [
                "5087a084930d2537"
            ]
        ]
    },
    {
        "id": "d4208b5bb66ad9ff",
        "type": "mqtt in",
        "z": "fc9db967ed2c01f7",
        "name": "",
        "topic": "maqueta4/sensores/luz",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dedd30ecd657dea0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 460,
        "wires": [
            [
                "1ad57edef19cdca9"
            ]
        ]
    },
    {
        "id": "1ad57edef19cdca9",
        "type": "ui_text",
        "z": "fc9db967ed2c01f7",
        "group": "73b5ea4bc4c9a547",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Luminosidade",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 460,
        "wires": []
    },
    {
        "id": "a0f61d966d6423b4",
        "type": "ui_chart",
        "z": "fc9db967ed2c01f7",
        "name": "",
        "group": "73b5ea4bc4c9a547",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Humidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "fe3188f3724a0dc2",
        "type": "mqtt in",
        "z": "fc9db967ed2c01f7",
        "name": "",
        "topic": "maqueta4/sensores/hum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dedd30ecd657dea0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 540,
        "wires": [
            [
                "a0f61d966d6423b4"
            ]
        ]
    },
    {
        "id": "e33090bf32101698",
        "type": "mqtt out",
        "z": "fc9db967ed2c01f7",
        "name": "",
        "topic": "maqueta4/actuadores/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dedd30ecd657dea0",
        "x": 470,
        "y": 120,
        "wires": []
    },
    {
        "id": "21e4730843aa08ce",
        "type": "mqtt out",
        "z": "fc9db967ed2c01f7",
        "name": "",
        "topic": "maqueta4/actuadores/rele",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dedd30ecd657dea0",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "c58c7b701d3f4c8d",
        "type": "mqtt out",
        "z": "fc9db967ed2c01f7",
        "name": "",
        "topic": "maqueta4/actuadores/son",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dedd30ecd657dea0",
        "x": 470,
        "y": 240,
        "wires": []
    },
    {
        "id": "0fe5472bda0f3961",
        "type": "ui_group",
        "name": "Maqueta4 Actuadores",
        "tab": "9aa85a535229831e",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "73b5ea4bc4c9a547",
        "type": "ui_group",
        "name": "Maqueta4 Sensores",
        "tab": "9aa85a535229831e",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dedd30ecd657dea0",
        "type": "mqtt-broker",
        "name": "VPS_mqtt4",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9aa85a535229831e",
        "type": "ui_tab",
        "name": "Maqueta4",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]