programas/flows_mauro.json
[{"id":"fc9db967ed2c01f7","type":"tab","label":"Flow 8","disabled":false,"info":"","env":[]},{"id":"80e04943c98d40fd","type":"mqtt out","z":"fc9db967ed2c01f7","name":"","topic":"maqueta4/actuadores/led","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"dedd30ecd657dea0","x":710,"y":240,"wires":[]},{"id":"54048a632fb5cd8f","type":"mqtt out","z":"fc9db967ed2c01f7","name":"","topic":"maqueta4/actuadores/rele","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"dedd30ecd657dea0","x":710,"y":320,"wires":[]},{"id":"2d503c592ba31b41","type":"mqtt out","z":"fc9db967ed2c01f7","name":"","topic":"maqueta4/actuadores/son","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"dedd30ecd657dea0","x":710,"y":400,"wires":[]},{"id":"3fa5d4bacabec472","type":"mqtt in","z":"fc9db967ed2c01f7","name":"","topic":"maqueta4/sensores/temp","qos":"2","datatype":"auto-detect","broker":"dedd30ecd657dea0","nl":false,"rap":true,"rh":0,"inputs":0,"x":410,"y":460,"wires":[["766d71519f301672"]]},{"id":"6d8b33b11fd6798a","type":"mqtt in","z":"fc9db967ed2c01f7","name":"","topic":"maqueta4/sensores/luz","qos":"2","datatype":"auto-detect","broker":"dedd30ecd657dea0","nl":false,"rap":true,"rh":0,"inputs":0,"x":400,"y":520,"wires":[["df44516e0321333e"]]},{"id":"1d2ed72f2c7ec02e","type":"mqtt in","z":"fc9db967ed2c01f7","name":"","topic":"maqueta4/sensores/hum","qos":"2","datatype":"auto-detect","broker":"dedd30ecd657dea0","nl":false,"rap":true,"rh":0,"inputs":0,"x":410,"y":580,"wires":[["dc81ac09b7b5233e"]]},{"id":"a758bd014d681d6a","type":"ui_button","z":"fc9db967ed2c01f7","name":"","group":"0fe5472bda0f3961","order":0,"width":0,"height":0,"passthru":false,"label":"Interruptor General","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":430,"y":240,"wires":[["80e04943c98d40fd","54048a632fb5cd8f","2d503c592ba31b41"]]},{"id":"766d71519f301672","type":"ui_gauge","z":"fc9db967ed2c01f7","name":"","group":"73b5ea4bc4c9a547","order":0,"width":0,"height":0,"gtype":"donut","title":"Temperatura","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":650,"y":460,"wires":[]},{"id":"df44516e0321333e","type":"ui_text","z":"fc9db967ed2c01f7","group":"73b5ea4bc4c9a547","order":1,"width":0,"height":0,"name":"","label":"Luminosidade","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":660,"y":520,"wires":[]},{"id":"dc81ac09b7b5233e","type":"ui_chart","z":"fc9db967ed2c01f7","name":"","group":"73b5ea4bc4c9a547","order":2,"width":0,"height":0,"label":"Humidade","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":650,"y":580,"wires":[[]]},{"id":"dedd30ecd657dea0","type":"mqtt-broker","name":"VPS_mqtt4","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"0fe5472bda0f3961","type":"ui_group","name":"Maqueta4 Actuadores","tab":"9aa85a535229831e","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"73b5ea4bc4c9a547","type":"ui_group","name":"Maqueta4 Sensores","tab":"9aa85a535229831e","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"9aa85a535229831e","type":"ui_tab","name":"Maqueta4","icon":"dashboard","disabled":false,"hidden":false}]